In [17]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df.head(3)
df.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0

In [20]:
#create class pandas which have three functions readcsv,head and tail
class pandas_name:
    def __init__(self):
        self.filename = ""
        self.filecondent = ""

    def read_csv(self,file):
        self.filename = file
        fileread = open(file,"r+")
        self.filecondent =fileread.readlines()

    def head(self,n):
        for i in range(n):
            print(self.filecondent[i])

    def tail(self,n):
        end = len(self.filecondent)
        start = len(self.filecondent)-n
        for i in range(start,end):
            print(self.filecondent[i])

In [21]:
pd = pandas_name()
pd.read_csv("student.csv")
pd.head(3)
pd.tail(3)

150,jeffin,40,50,60,17810

120,nikhil,30,10,80,22118

42,naveen,10,12,20,31152

120,nikhil,30,10,80,22118

42,naveen,10,12,20,31152

180,fathima,10,90,80,85700